aiohttp==3.7.4
aiohttp-jinja2==1.4.2
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coloredlogs==15.0
future==0.18.2
humanfriendly==9.1
idna==3.1
iso8601==0.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
m3u8==0.8.0
MarkupSafe==1.1.1
mttkinter==0.6.1
multidict==5.1.0
mutagen==1.45.1
nest-asyncio==1.5.1
pefile==2019.4.18
Pillow==8.1.2
pyaria2==0.1.1
pycryptodome==3.10.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyncm==1.6.1
pyparsing==2.4.7
pyreadline==2.1
pywin32-ctypes==0.2.0
qrcode==6.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
yarl==1.6.3
