aiohttp
aiohttp-jinja2
altgraph
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
click
colorama
coloredlogs
future
humanfriendly
idna
iso8601
itsdangerous
Jinja2
m3u8
MarkupSafe
mttkinter
multidict
mutagen
nest-asyncio
pefile
Pillow
pyaria2
pycryptodome
pyinstaller
pyinstaller-hooks-contrib
pyncm
pyparsing
pyreadline
pywin32-ctypes
qrcode
requests
six
soupsieve
typing-extensions
urllib3
Werkzeug
yarl
